.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.progress-bar {
    height: 10px;
    background-color: #007bff;
    width: 0%;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

.question.active-question {
    display: block !important;
}

.question {
    display: none;
}